section.about#about 
  .flex.flex--center
    .col-50.flex.left-about
      //.white-strip-left
      .about-image-container
        .about-image
        .white-strip
      
    .col-50.flex.right-about
      .about-content
        //.title
          //h1 About
        .arrow-white
        .content-a
          h1 About
          p With a crew of well-trained and friendly staff members that promise to deliver only the best quality of service to every customer, we offer many great services ranging from regular manicures/pedicures to delux pedicures and acrylic nails at reasonable prices. We guarantee the best satisfaction and most comfortable environment to all our customers.
