section.contact#contact 
  .flex.flex--center

      
    .col-50.flex.right-contact
      .contact-content
        //.title
          //h1 contact
        .arrow-purple
        .content-c
          h1 Contact
          .address
            h3 Address
            p 502 S Main St, Mishawaka
            p IN, 46544
            a(href="https://www.google.com/maps/dir//502+S+Main+St,+Mishawaka,+IN+46544/@41.656617,-86.1825199,17z/data=!4m16!1m7!3m6!1s0x8816cc2ca74b402b:0xa4335203b8b66f58!2s502+S+Main+St,+Mishawaka,+IN+46544!3b1!8m2!3d41.656613!4d-86.1803259!4m7!1m0!1m5!1m1!1s0x8816cc2ca74b402b:0xa4335203b8b66f58!2m2!1d-86.1803259!2d41.656613" target="blank") +Google Map
          
          .phone
            h3 Phone 
            p (574) 307 - 1201
            
          .hours
            h3 Hours
            p Monday to Saturday: 10:00am - 8:00pm
            //.white-strip-right

    .col-50.flex.left-contact
      //.white-strip-left
      .contact-image-container
        a(href="https://www.facebook.com/Magic-Nails-Spa-394312160756174/reviews" target="_blank").facebook
        a(href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=magic+nail+mishawaka+google+review&lrd=0x8816cc2ca74b402b:0x472fb1a122e7a539,1," target="_blank").google
        a(href="https://www.yelp.com/biz/magic-nails-and-spa-mishawaka" target="_blank").yelp
      .social-description
        h3 Read our reviews!
