section.service#service
  .flex.flex--center
    .col-50.flex.left-service
      .service-content
        .arrow-blue
        .content-s
          h1 Service
          .price-list
            h3 Pedicure
            .service-name
              .name
                p Regular
                p Deluxe
              .price
                p $25
                p $35
            h3 Manicure
            .service-name
              .name
                p Regular polish
                p Gel polish
                p Acrylic full set
              .price
                p $12
                p $30
                p $30
            h3 Waxing
            .service-name
              .name
                p Eye brows
                p Body
                p Lips
              .price
               p $8
               p $30
               p $8

            

              
    .col-50.flex.right-service
      .service-image-container
        .service-text
          .mood-txt Mood color
          .acrylic-txt Acrylic nail
          .design-txt Nail design
          .french-txt French tips
          
        .service-image
          .mood-img
          .acrylic-img
          .design-img
          .french-img
          .line-cover
